*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.carousel{
    position: relative;
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    width: 300px;

    border-radius: 10px;
    box-shadow: 6.6px 13.3px 13.3px hsl(0deg 0% 0% / 0.29);

}
.carousel__images{
    display: flex;
    transform: translate(0);
    transition:all 0.25s;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 6.6px 13.3px 13.3px hsl(0deg 0% 0% / 0.29);
    object-fit: cover;
}
i {
    cursor: pointer;
    z-index: 1;
    height: 3rem;
    position: absolute;
    font-size: 2em;
    opacity: 0.5;
}
i:hover{
    opacity: 1;
}
#previous {
    left: 5px ;
}
#next{
    right: 5px;
}